<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700" rel="stylesheet" type="text/css" />
    <link href="https://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>

<body>

    <form>
        <h1><img src="/img/ebank.png" class="logo" alt=""></h1>
        <div class="inset">
            <p>
                <label for="email">USUARIO</label>
                <input type="text" name="email" id="email">
            </p>
            <p>
                <label for="password">CONTRASEÑA</label>
                <input type="password" name="password" id="password">
            </p>
            
        </div>
        <p class="p-container">
            <span><a href="index.html" class="recuperar">Recuperar contraseña..</a></span>
            <input type="submit" name="go" id="go" value="Ingresar">
        </p>
    </form>
</body>

</html>